<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h1 class="title">Syarat dan ketentuan</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est nulla, pharetra nec consequat in, iaculis ac mauris.
      Nam imperdiet urna purus, vitae facilisis felis luctus in. Nam felis lectus, porta vitae turpis non, aliquam elementum
      tortor. Donec sagittis est non sem tincidunt, vitae hendrerit leo posuere. Donec viverra pulvinar quam, pharetra rhoncus
      nulla venenatis laoreet. Fusce luctus dapibus laoreet. Sed porttitor accumsan est sit amet venenatis. Ut sed felis ut
      nisl auctor porttitor. Aliquam eget pretium est. Ut urna purus, placerat id posuere eu, commodo a elit. Etiam a tempor
      nulla. Donec ullamcorper sapien non feugiat ultrices. Nulla vel enim enim. Aliquam eu maximus lacus.
      
      Donec fringilla massa a nunc vestibulum porttitor. Nam libero magna, auctor ac sagittis vel, porta faucibus nunc. Donec
      cursus diam id erat mollis, semper tempus diam facilisis. Suspendisse accumsan tellus mauris, a semper nibh convallis
      vitae. In hac habitasse platea dictumst. Suspendisse malesuada massa mattis dapibus faucibus. Quisque pharetra sodales
      purus eget varius. Fusce vel nulla blandit, imperdiet diam id, blandit odio.
      
      Mauris gravida dapibus nulla sit amet elementum. Sed ultrices nisi sed erat tempor aliquet. Phasellus congue blandit
      nisl, vel tempus enim tincidunt eget. Quisque in massa a tellus dignissim mollis ut vel quam. Morbi porta imperdiet
      sapien, sed congue elit. Vivamus viverra mauris et risus cursus mattis.
    </p>
    </div>
</ion-content>
