<ion-header>
  <ion-toolbar>
    <ion-icon class="title-icon" name="person"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="content">
  <ion-row>
    <ion-col size="10">
      <span class="title">Jhon Connor</span> <br>
      <span>+62 821636883</span> <br>
      <span>jhonconnor@sky.net</span>
    </ion-col>
    <ion-col size="2" (click)="logout()">
      <ion-icon class="icon-exit" name="exit-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <br>
  <!-- list menu -->
  <ion-item class="ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-avatar slot="start">
      <ion-icon style="font-size: 2rem;" name="create-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Edit Profile</h2>
    </ion-label>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-avatar slot="start">
      <ion-icon style="font-size: 2rem;" name="logo-whatsapp"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Layanan Pelanggan</h2>
    </ion-label>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-avatar slot="start">
      <ion-icon style="font-size: 2rem;" name="reader-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Kebijakan Privasi</h2>
    </ion-label>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent" (click)="term()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-avatar slot="start">
      <ion-icon style="font-size: 2rem;" name="book-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Syarat dan ketentuan</h2>
    </ion-label>
  </ion-item>

  <ion-item class="ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-avatar slot="start">
      <ion-icon  style="font-size: 2rem;" name="information-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>Tentang Kami</h2>
    </ion-label>
  </ion-item>
  
</div>
</ion-content>
