.title-icon{
    font-size: 2.5rem;
    margin-left: 3%;
    margin-top: 3%;
    color : #2A9DF4
}
.content{
    padding: 10px;
}
.title{
    font-size: 1.5rem;
    font-weight: bold;
}
.icon-exit{
    color: red; text-align: right;
    font-size: 2rem;
}