<ion-content>
<img src="../../../assets/imgs/home.png" alt="" class="home-img">
<div class="content">
  <h5>Layanan Kami</h5>
 <!-- menu item -->
    <ion-row>
      <ion-col size="4" align="center" style="padding: 0;">
        <ion-card class="ion-activatable ripple-parent card-menu" (click)="goClean()">
          <ion-ripple-effect></ion-ripple-effect>
            <img src="../../../assets/imgs/menu1.png" alt="" class="img-menu1">
            <span class="title-menu">Cleaning</span>
            <br>
        </ion-card>
      </ion-col>
      <ion-col size="4" align="center" style="padding: 0;">
       <ion-card class="ion-activatable ripple-parent card-menu">
        <ion-ripple-effect></ion-ripple-effect>
          <img src="../../../assets/imgs/ribbon.png" alt="" class="ribbon">
          <img src="../../../assets/imgs/menu2-icon.png" alt="" class="img-menu1">
          <span  class="title-menu">Laundry</span>
          <br>
       </ion-card>
      </ion-col>
      <ion-col size="4">
        
      </ion-col>
    </ion-row>
  

    
    <ion-row>
      <ion-col size="6">
        <h5><img src="../../../assets/imgs/icon-percent.png" alt="" style="width: 10%;"> Promo & News</h5>
      </ion-col>
      <ion-col size="6">
        <a class="read-more">Lihat semua</a>
      </ion-col>
    </ion-row>
    <img src="assets/imgs/home-banner.png" alt="" class="home-banner">

</div>

</ion-content>

