.home-img{
    width: 100%;

}
.content{
    padding: 20px;
    padding-top: 0;
}
.img-menu1{
    margin: 20px;
    width: 50%;
    margin-bottom: 10px;
}
.card-menu{
    border-radius: 10px;
    align-items: center;
    margin: 7px;
    height: 110px;
}
.title-menu{
    margin-bottom: 20px;
}
.ribbon{
    position: absolute;
    width: 70%;
}
.read-more{
    float: right;
    margin-top: 13%;
}
.home-banner{

}